.form-part {
  background-color: #444444;
  color: white;
}
.col-8 h5 {
  font-size: 20px;
  font-weight: 900;
}
.form-control {
  font-size: 18px;
}
.form-select {
  font-size: 18px;
}
button.btn.btn-secondary.submit {
  margin-top: 30px;
  font-weight: 800;
  background-color: #e74c3c;
  border: 2px solid #e74c3c;
}
.errorMessage {
  color: #e74c3c;
  display: relative;
  font-weight: 900;
}
small {
  padding-left: 50px;
  position: relative;
  color: #e74c3c;
  font-weight: 800px;
}
.form-control-i {
  margin-left: 20px;
  position: absolute;
  color: #e74c3c;
}

@media only screen and (max-width: 850px) {
  .form-part {
    margin-top: 100px;
    margin-left: 50px;
  }
}
@media only screen and (max-width: 400px) {
  .form-part {
    margin-top: 30px;
    margin-left: 10px;
  }
  .container-fluid {
    margin: 0;
  }
  .container-fluid .your-exercise {
    padding: 0px;
    margin: 40px 0px;
  }
  .col-8 h5 {
    font-size: 16px;
    font-weight: 900;
  }
  .your-exercise h2 {
    margin: 0px;
  }
  span.input-group-text-textarea {
    font-size: 16px;
    font-weight: 900;
  }
  .form-control {
    font-size: 16px;
    font-weight: 900;
  }
  textarea.form-control {
    font-size: 16px;
    color: black;
  }
  div.col-8 {
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
  }
}
