@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
.banner-part-history {
  background-color: #444444;
}
.container-fluid {
  background-color: #444444;
  max-width: 1200px;
  margin: 0 auto;
}
h2.history {
  font-size: 28px;
  color: white;
  padding: 28px;
}
div.col {
  border-radius: 50px;
}

div.icon-dropdown {
  display: flex;
  justify-content: space-between;
}
.dropdown-button {
  margin-right: 20px;
  margin-top: 20px;
}
.card-his {
  background-color: #f5eded;
  flex-direction: row;
  border-radius: 20px;
}
img.card-img-his {
  width: 30%;
  height: 30%;
  padding-left: 32px;
}
.card-body-his {
  padding: 20px;
}

h5.card-title-his {
  color: black;
  font-size: 18px;
  text-decoration: none;
}
.your-exercise {
  padding: 32px;
}
@media (max-width: 950px) {
  .container-fluid-banner {
    display: none;
  }
}

@media (min-width: 951px) {
  .your-exercise {
    display: none;
  }
}
